/* Reset e estilos globais */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
    background-color: #ffffff; /* Cor de fundo global */
}

/* Estilos específicos para elementos */

header {
    margin: 20px 0 80px 10px;
}

.ajuste-link {
    display: inline-flex;
    justify-content: center;
    margin: 0;
}

.logotipo {
    width: 30px;
    height: 25px;
    margin: 18px 20px 10px 5;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link-header {
    font-weight: 600;
    font-size: 30px;
    line-height: 29px;
    color: #989d9c;
    margin-right: 13px;
    margin-left: 10px;
    cursor: pointer;
    text-decoration: none;
}

.image {
    width: 800px;
    height: 600px;
    margin-left: 350px;
    display: inline-block;
}

main {
    display: flex;
    margin-left: 250px;
    width: 530px; /* Adicione unidade de medida (px) */
    height: 79px;
}

h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 900;
    font-size: 100px;
    line-height: 122px;
    color: #464646;
}

p {
    font-size: 20px; /* Corrigido de font-weight para font-size */
}