* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}

body {
    display: flex;
    flex-direction: column; /* Ajuste para coluna */
    justify-content: space-between;
    width: 100vh;
    height: 100vh;
}

    .background-container img {
        position: absolute; /* Posiciona a imagem absolutamente dentro do contêiner */
        top: 0;
        left: 0;
        width: 100%; /* Ajusta a largura da imagem para ocupar todo o contêiner */
        height: auto; /* Ajusta a altura da imagem para ocupar todo o contêiner */
        object-fit: cover; /* Mantém a proporção da imagem e a corta para cobrir todo o contêiner */
        z-index: -1;
        opacity: 0;
}

header {
    margin: 20px 10 80px 10px;
}

.ajuste-link {
    display: inline-flex;
    align-items: center;
}
.whatsapp-icon {
    width: 200px;
    height: auto;
    position: fixed;
    bottom: 20px; /* Ajuste conforme necessário */
    right: 20px; /* Ajuste conforme necessário */
}

.logotipo {
    width: 30px;
    height: 25px;
    margin: 18px 10px 10px 5px;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.link-header {
    font-weight: 600;
    font-size: 30px;
    color: #989d9c;
    margin-right: 13px;
    margin-left: 13px;
    cursor: pointer;
    text-decoration: none;
}

.menino-lendo {
    width: 300px;
    height: 180px;
    margin-left: 20px; /* Ajuste a margem conforme necessário */
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px; /* Ajuste a margem conforme necessário */
    max-width: 530px; /* Use max-width para garantir responsividade */
}

h1 {
    font-family: "Righteous", sans-serif;
    font-weight: 500;
    font-size: 60px;
    color: #464646;
    margin-bottom: 20px; /* Adicione espaçamento abaixo do título */
}

p {
    font-size: 20px;
    color: #464646;
}
